.pagecontainer {
  display: grid;
  width: 100vw;
  height: 100vw;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  grid-template-rows: 20vw 20vw 20vw 20vw ;
  background-color: #fff;
  color: #444;
}

.picture {
  background-color: hotpink;
  position: relative;
  z-index: 1;
}
.test {
  background-image: url("../img/RedDodgeViper/Top.png");
  height: 200px;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  position: relative;
  z-index: 2;
}
.test1 {
  background-image: url("../img/RedDodgeViper/Top.png");
  height: 200px;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
  margin: 0%;
  padding: 0%;
}

.a {
  grid-area: 2/2/3/3;
}

.b {
  grid-area: 3/5/4/6;
}
.target {
  grid-area: 1/2/2/3;
  background-color: blue;
  display: grid;
  width: 100%;
  grid-template-columns: 50% 20% 30%;
  grid-template-rows: 80% 10% 10%;
}
.eye {
  grid-area: 2/2/3/3;
  background-color: red;
  transform-origin: top left;
  transform: rotate(45deg);
  width: 3.5vw;
}


/*.are {
  grid-area: 1/1/5/3;
  background-color: salmon;
}
.normal {
  grid-area: 3/3/4/4;
  /*width: 80px;
  background-color: skyblue;
}*/




.rotated {
  
  
}
