.z1 {
  position: relative;
  z-index: 1;
}
.z2 {
  position: relative;
  z-index: 2; 
}
.column {
  width: 30%;
  float: left;
}
.column2 {
  width: 70%;
  float: left;
}
.pagecontainer {
  display: grid;
  grid-template-columns: 100px 100px;
}
.side {
  grid-area: sidearea;
  grid-column: 1;
  background-color: greenyellow;
}
.temp {
  grid-column:2;
  background-color: red;
}
.main {  /* .main is the second column of page-container.  Does it need the 
  display grid or another div?*/
  grid-area: mainarea;
  grid-column: 2;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(17,1fr);
  height:200px;
}
.track {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 18;
  position: relative;
  z-index: 1;
}
.trackgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.itemTest {
  grid-column: 11;
  grid-row: 5;
  max-width: 25%;
  position: relative;
  z-index: 2;
}

}
p {
  font-family: Calibri;
  font-size: 36px;
  line-height: 36px;
  color: aliceblue;
  padding-right: 0px;
}
.B2 {
  position: relative; left: 100%; top: 65%;
  max-width: 25%;
  }
.C2 {
  position: relative; left: 20px; top: 60px;
  }
.D2 {
  position: relative; left: -22px; top: 70px;
  }
.G2 {
  position: relative; left: 40px; top: 70px;
  }
.H2 {
  position: relative; left: 1px; top: 50px;
  }
.H2a {
  position: relative; left: 60px; top: -10px;
  }
.I2 {
  position: relative; left: 10px; top: 45px;
  }
.J2 {
  position: relative; left: -32px; top: 45px;
  }  
.J2a {
  position: relative; left: 20px; top: 0px;
  }  
.K2 {
  position: relative; left: -20px; top: 60px;
  }  

.imgsize {
  height: 45px;
  width: 45px;
}
