/*Vehicle Selector Specific*/
li.borderless { 
  border-top: 0 none; 
}

.carsize {
  height: 40vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center, center;
}
.cartop {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center, center;
}


.RedDodgeViperfront {
  background-image: url("../img/RedDodgeViper/Front.png");}
.RedDodgeViperright {
  background-image: url("../img/RedDodgeViper/Right.png");}
.RedDodgeViperback {
  background-image: url("../img/RedDodgeViper/Rear.png");}
.RedDodgeVipertop {
  background-image: url("../img/RedDodgeViper/Top.png");}
.RedDodgeViperleft {
  background-image: url("../img/RedDodgeViper/Left.png");}

.BigwheelCorvettefront{
  background-image: url("../img/BigwheelCorvette/front.png");}
.BigwheelCorvetteright {
  background-image: url("../img/BigwheelCorvette/right.png");}
.BigwheelCorvetteback {
  background-image: url("../img/BigwheelCorvette/rear.png");}
.BigwheelCorvettetop {
  background-image: url("../img/BigwheelCorvette/top.png");}
.BigwheelCorvetteleft {
  background-image: url("../img/BigwheelCorvette/left.png");}

.HighMountEnginefront{
  background-image: url("../img/HighMountEngine/front.png");}
.HighMountEngineright {
  background-image: url("../img/HighMountEngine/right.png");}
.HighMountEngineback {
  background-image: url("../img/HighMountEngine/rear.png");}
.HighMountEnginetop {
  background-image: url("../img/HighMountEngine/top.png");}
.HighMountEngineleft {
  background-image: url("../img/HighMountEngine/left.jpg");}
 
.Peerless1911Roadsterfront{
  background-image: url("../img/Peerless1911Roadster/front.png");}
.Peerless1911Roadsterright {
  background-image: url("../img/Peerless1911Roadster/right.png");}
.Peerless1911Roadsterback {
  background-image: url("../img/Peerless1911Roadster/rear.png");}
.Peerless1911Roadstertop {
  background-image: url("../img/Peerless1911Roadster/top.png");}
.Peerless1911Roadsterleft {
  background-image: url("../img/Peerless1911Roadster/left.png");}

.QuarryTruckfront{
  background-image: url("../img/QuarryTruck/front.png");}
.QuarryTruckright {
  background-image: url("../img/QuarryTruck/right.png");}
.QuarryTruckback {
  background-image: url("../img/QuarryTruck/rear.png");}
.QuarryTrucktop {
  background-image: url("../img/QuarryTruck/top.png");}
.QuarryTruckleft {
  background-image: url("../img/QuarryTruck/left.png");}

.RedVolkswagenBeetlefront{
  background-image: url("../img/RedVolkswagenBeetle/front.png");}
.RedVolkswagenBeetleright {
  background-image: url("../img/RedVolkswagenBeetle/right.png");}
.RedVolkswagenBeetleback {
  background-image: url("../img/RedVolkswagenBeetle//rear.png");}
.RedVolkswagenBeetletop {
  background-image: url("../img/RedVolkswagenBeetle/top.jpg");}
.RedVolkswagenBeetleleft {
  background-image: url("../img/RedVolkswagenBeetle/left.png");}  

.YellowCadillacfront{
  background-image: url("../img/YellowCadillac/front.png");}
.YellowCadillacright {
  background-image: url("../img/YellowCadillac/right.png");}
.YellowCadillacback {
  background-image: url("../img/YellowCadillac/rear.png");}
.YellowCadillactop {
  background-image: url("../img/YellowCadillac/top.png");}
.YellowCadillacleft {
  background-image: url("../img/YellowCadillac/left.png");}  

.YellowFordFocusfront{
  background-image: url("../img/YellowFordFocus/front.png");}
.YellowFordFocusright {
  background-image: url("../img/YellowFordFocus/right.png");}
.YellowFordFocusback {
  background-image: url("../img/YellowFordFocus/rear.png");}
.YellowFordFocustop {
  background-image: url("../img/YellowFordFocus/top.jpg");}
.YellowFordFocusleft {
  background-image: url("../img/YellowFordFocus/left.png");}  

/* Track specific */


.pagecontainer {
  display: grid;
  width: 100vw;
  height: 99vw;
  grid-template-columns: repeat(25, 4vw);
  grid-template-rows: repeat(33, 3vw);
  background-color: greenyellow;
}
.row1 {
  grid-column: 1;
  grid-row:1;
}
.rowsize {
  min-height: 3vw;
  max-height: 3vw;
}
/* row2-25 classes are set at the bottom.  This prevents grid from 
      auto sizing the rows if they empty*/  
.side {
  grid-column: 1 /4;
  grid-row:1/21;
  background-color: greenyellow;
}
.main {
  grid-column: 4 /25;
  grid-row:1/21;
}


.e2 {
  grid-area: 2/7/3/10;
  max-width: 100%;
  display: grid;
  grid-template-columns: 30% 15% 25% 30%;
  grid-template-rows: 20% 60% 20%;
  /* To position vehicles on top of the destination icon, but not completely obscuring it the setup
  of every grid box has to be changed. Originally they were 3 x 3 grids and the icon was located on 
  the centre box. Now the centre box has to be split: 2 col 1 row, 2 col 2 rows or 1 col 2 rows.
  This allows the edge of the rotate box to be located in the middle of the icon. Since every icon is
  located individually, it is not necessary to change all of them from 3 x 3 to 4 x 4. Each is adjusted
  as necessary*/
}
.e2box {
  grid-area: 1/2/2/4;
  max-width: 100%;
}
.e2rotate {
  grid-area: 2/3/3/4;
  transform-origin: top left;
  transform: rotate(65deg);
  width: 3.5vw;
  position: relative;  
  z-index: 5;  /* Positioned elements are stacked in front of non-positioned elements.  Icons are 
                located using grid and so do not need to be positioned. This will allow vehicles to
                be on top even though the icons are further down the html and so would be on top. In
                hindsight, placing the icons in an anticlockwise manner would have eliminated the need for 
                clockwise travelling vehicles to be given a z index at all!*/
}
.f2 {
  grid-area:1/9/3/10;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 20% 70% 10%;
  grid-template-rows: 70% 20% 10%;
}
.f2box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.g3 {
  grid-area: 2/10/3/12;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 60% 30% 10%;
  grid-template-rows: 60% 20% 20%;
}
.g3box {
  grid-area: 2/1/3/2;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.g4 {
  grid-area: 2/10/5/12;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 40% 50% 10%;
  grid-template-rows: 55% 25% 20%;
}
.g4box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.h5 {
  grid-area: 4/10/6/13;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 40% 35% 15%;
  grid-template-rows: 40% 45% 15%;
}
.h5box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.h6 {
  grid-area: 5/10/7/13;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 35% 35% 20%;
  grid-template-rows: 65% 25% 10%;
}
.h6box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.g8 {
  grid-area: 7/10/9/12;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 45% 30% 25%;
  grid-template-rows: 35% 25% 40%;
}
.g8box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.g9 {
  grid-area:8/9/10/12;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 45% 30% 25%;
  grid-template-rows: 25% 25% 50%;
}
.g9box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.f10 {
  grid-area:9/9/10/11;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 36% 64% 1%;
  grid-template-rows: 65% 30% 5%;
}
.f10box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.f11 {
  grid-area:10/9/12/11;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 30% 55% 15%;
  grid-template-rows: 50% 30% 20%;
}
.f11box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.g12 {
  grid-area:11/9/13/11;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 35% 65% 0%;
  grid-template-rows: 50% 30% 20%;
}
.g12box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.g14 {
  grid-area:12/10/14/12;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 35% 10%;
  grid-template-rows: 65% 30% 5%;
}
.g14box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.h14 {
  grid-area:12/11/14/13;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 35% 55% 10%;
  grid-template-rows: 55% 45% 0%;
}
.h14box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.i13 {
  grid-area:12/12/14/14;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 33% 55% 12%;
  grid-template-rows: 25% 45% 30%;
}
.i13box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.j12 {
  grid-area:11/12/13/15;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 40% 35% 25%;
  grid-template-rows: 20% 45% 30%;
}
.j12box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.j10 {
  grid-area:10/12/11/15;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 45% 30% 25%;
  grid-template-rows: 20% 45% 35%;
}
.j10box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.j9 {
  grid-area:8/13/10/15;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 30% 45%;
  grid-template-rows: 45% 25% 20%;
}
.j9box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.j8 {
  grid-area:7/13/9/15;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 15% 45% 40%;
  grid-template-rows: 20% 30% 60%;
}
.j8box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.j6 {
  grid-area:6/13/8/15;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 15% 50% 35%;
  grid-template-rows: 10% 30% 60%;
}
.j6box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.j5 {
  grid-area:5/13/7/15;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 32% 35% 33%;
  grid-template-rows: 5% 30% 65%;
}
.j5box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.k3 {
  grid-area:2/14/4/16;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 35% 30% 35%;
}
.k3box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.l2 {
  grid-area:2/15/4/17;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 18% 50% 37%;
  grid-template-rows: 5% 30% 65%;
}
.l2box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.m2 {
  grid-area:2/16/4/18;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 45% 35%;
  grid-template-rows: 5% 30% 65%;
}
.m2box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.n2 {
  grid-area:1/17/3/19;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 33% 35% 32%;
  grid-template-rows: 42% 30% 28%;
}
.n2box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.o2 {
  grid-area:1/18/3/20;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 22% 48% 30%;
  grid-template-rows: 42% 30% 28%;
}
.o2box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.p2 {
  grid-area:1/19/3/21;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 40% 35%;
  grid-template-rows: 50% 30% 20%;
}
.p2box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.q2 {
  grid-area:1/20/3/22;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 20% 35% 45%;
  grid-template-rows: 50% 30% 20%;
}
.q2box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.q3 {
  grid-area:1/21/4/23;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 10% 52% 38%;
  grid-template-rows: 45% 30% 15%;
}
.q3box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.r3 {
  grid-area:2/21/4/24;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 40% 35% 25%;
  grid-template-rows: 50% 30% 10%;
}
.r3box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.s4 {
  grid-area:3/22/5/24;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 30% 60% 30%;
  grid-template-rows: 45% 50% 5%;
}
.s4box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.s5 {
  grid-area:4/22/7/24;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 45% 35% 20%;
  grid-template-rows: 50% 50% 0%;
}
.s5box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.r6 {
  grid-area:5/22/8/24;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 7% 55% 48%;
  grid-template-rows: 50% 50% 0%;
}
.r6box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.q7 {
  grid-area:6/21/9/23;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 18% 55% 27%;
  grid-template-rows: 50% 50% 0%;
}
.q7box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.q8 {
  grid-area:7/20/9/22;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 35% 40%;
  grid-template-rows: 35% 50% 15%;
}
.q8box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.p8 {
  grid-area:7/19/9/21;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 15% 55% 30%;
  grid-template-rows: 30% 55% 15%;
}
.p8box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.o8 {
  grid-area:7/18/9/20;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 40% 35%;
  grid-template-rows: 50% 50% 0%;
}
.o8box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.n8 {
  grid-area:7/17/10/19;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 35% 40%;
  grid-template-rows: 35% 55% 10%;
}
.n8box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.m8 {
  grid-area:7/16/10/18;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 35% 55% 10%;
}
.m8box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.l9 {
  grid-area:8/15/10/17;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 55% 20%;
}
.l9box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.l10 {
  grid-area:9/15/11/17;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 0% 60% 40%;
  grid-template-rows: 25% 70% 5%;
}
.l10box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.l11 {
  grid-area:10/15/13/17;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 20% 30% 50%;
  grid-template-rows: 35% 60% 5%;
}
.l11box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.l12 {
  grid-area:11/16/13/18;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 0% 55% 45%;
  grid-template-rows: 35% 60% 5%;
}
.l12box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.m12 {
  grid-area:11/17/13/19;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 0% 55% 45%;
  grid-template-rows: 35% 60% 5%;
}
.m12box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.n12 {
  grid-area:11/18/13/20;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 0% 55% 45%;
  grid-template-rows: 15% 60% 25%;
}
.n12box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.o11 {
  grid-area:10/18/13/21;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 30% 35% 40%;
  grid-template-rows: 35% 60% 5%;
}
.o11box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.p11 {
  grid-area:10/19/13/21;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 35% 15%;
  grid-template-rows: 25% 60% 15%;
}
.p11box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.q11 {
  grid-area:10/20/13/22;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 45% 55% 0%;
  grid-template-rows: 0% 60% 40%;
}
.q11box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.s12 {
  grid-area:11/22/13/24;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: 25% 60% 15%;
}
.s12box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.s13 {
  grid-area:12/22/14/24;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 33% 65% 2%;
  grid-template-rows: 17% 60% 23%;
}
.s13box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.s14 {
  grid-area:13/22/16/24;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 62% 30% 8%;
  grid-template-rows: 42% 60% 8%;
}
.s14box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.r18 {
  grid-area:17/21/20/24;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 20% 30% 50%;
  grid-template-rows: 40% 60% 0%;
}
.r18box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.q18 {
  grid-area:17/20/20/22;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 36% 38% 26%;
  grid-template-rows: 40% 60% 0%;
}
.q18box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.p18 {
  grid-area:17/19/20/21;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 40% 60% 0%;
}
.p18box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.o18 {
  grid-area:18/18/20/21;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 23% 24% 43%;
  grid-template-rows: 22% 60% 18%;
}
.o18box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}

.m18 {
  grid-area:18/16/20/18;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: 15% 60% 25%;
}
.m18box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.l18 {
  grid-area:17/15/20/17;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 55% 20%;
  grid-template-rows: 35% 60% 5%;
}
.l18box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.k18 {
  grid-area:17/14/20/16;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 55% 20%;
  grid-template-rows: 40% 60% 0%;
}
.k18box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.j18 {
  grid-area:18/13/20/15;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: 20% 40% 40%;
}
.j18box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.i19 {
  grid-area:18/12/20/14;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: 25% 40% 35%;
}
.i19box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.h19 {
  grid-area:18/11/20/13;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 15% 40% 45%;
}
.h19box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.g19 {
  grid-area:18/10/20/12;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 25% 40% 35%;
}
.g19box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.f19 {
  grid-area:18/9/20/11;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 25% 40% 35%;
}
.f19box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.e19 {
  grid-area:18/8/20/10;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 15% 40% 45%;
}
.e19box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.d19 {
  grid-area:18/7/20/9;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 40% 50%;
}
.d19box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.c18 {
  grid-area:17/6/19/8;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: 55% 40% 5%;
}
.c18box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.c17 {
  grid-area:16/5/18/8;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 40% 40% 20%;
}
.c17box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.c16 {
  grid-area:15/5/17/8;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 20% 40% 40%;
}
.c16box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.c13 {
  grid-area:12/6/15/9;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: 40% 40% 30%;
}
.c13box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.d12 {
  grid-area:11/7/14/9;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 40% 40% 20%;
}
.d12box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.d11 {
  grid-area:10/7/13/9;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 55% 20%;
  grid-template-rows: 20% 40% 40%;
}
.d11box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.d10 {
  grid-area:9/6/11/8;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 45% 55% 0%;
  grid-template-rows: 20% 40% 40%;
}
.d10box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.c9 {
  grid-area:8/6/10/8;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 55% 20%;
  grid-template-rows: 12% 40% 48%;
}
.c9box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.c7 {
  grid-area:7/5/9/7;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 45% 5%;
  grid-template-rows: 15% 40% 45%;
}
.c7box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.c6 {
  grid-area:5/5/7/7;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 30% 65% 5%;
  grid-template-rows: 40% 40% 20%;
}
.c6box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.c5 {
  grid-area:4/5/6/7;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 50% 40% 10%;
}
.c5box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.c3 {
  grid-area:3/5/5/8;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 35% 40% 25%;
  grid-template-rows: 20% 40% 40%;
}
.c3box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}
.d3 {
  grid-area:2/6/4/9;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: grid;
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: 25% 40% 35%;
}
.d3box {
  grid-area: 2/2/3/3;
  position: relative;
  z-index: 4;
  max-width: 100%;
}








.row2 {
  grid-column: 1;
  grid-row:2;
}
.row3 {
  grid-column: 1;
  grid-row:3;
}
.row4 {
  grid-column: 1;
  grid-row:4;
}
.row5 {
  grid-column: 1;
  grid-row:5;
}
.row6 {
  grid-column: 1;
  grid-row:6;
}
.row7 {
  grid-column: 1;
  grid-row:7;
}
.row8 {
  grid-column: 1;
  grid-row:8;
}
.row9 {
  grid-column: 1;
  grid-row:9;
}
.row10 {
  grid-column: 1;
  grid-row:10;
}
.row11 {
  grid-column: 1;
  grid-row:11;
}
.row12 {
  grid-column: 1;
  grid-row:12;
}
.row13 {
  grid-column: 1;
  grid-row:13;
}
.row14 {
  grid-column: 1;
  grid-row:14;
}
.row15 {
  grid-column: 1;
  grid-row:15;
}
.row16 {
  grid-column: 1;
  grid-row:16;
}
.row17 {
  grid-column: 1;
  grid-row:17;
}
.row18 {
  grid-column: 1;
  grid-row:18;
}
.row19 {
  grid-column: 1;
  grid-row:19;
}
.row20 {
  grid-column: 1;
  grid-row:20;
}
.row21 {
  grid-column: 1;
  grid-row:20;
}
.row22 {
  grid-column: 1;
  grid-row:20;
}
.row23 {
  grid-column: 1;
  grid-row:20;
}
.row24 {
  grid-column: 1;
  grid-row:20;
}
.row25 {
  grid-column: 1;
  grid-row:20;
}