.pagecontainer {
  display: grid;
  width: 100vw;
  height: 99vw;
  grid-template-columns: repeat(25, 4vw);
  grid-template-rows: repeat(33, 3vw);
  background-color: greenyellow;
  position: absolute;
}
.pagecontainer1 {
  display: grid;
  width: 100vw;
  height: 99vw;
  grid-template-columns: repeat(25, 4vw);
  grid-template-rows: repeat(33, 3vw);
  position: absolute;
}


.s17 {
  grid-area:4/2/8/13;
  grid-template-columns: 20% 30% 50%;
  grid-template-rows: 35% 20% 45%;
  background-color: purple;
  z-index: 7;
}


.s17A {
  grid-area:4/2/8/13;
  grid-template-columns: 20% 30% 50%;
  grid-template-rows: 35% 20% 45%;
  z-index: 7;
}

.s20 {
  grid-area:7/2/12/15;
  grid-template-columns: 20% 30% 50%;
  grid-template-rows: 35% 20% 45%;
  background-color: blue;
  z-index: 6;
}
.s20A {
  grid-area:7/2/12/15;
  grid-template-columns: 20% 30% 50%;
  grid-template-rows: 35% 20% 45%;
  z-index: 6;
}



.fred {
  position: absolute; 
  z-index: 25
}

.tom {
  background-image: url("../img/Peerless1911Roadster/top.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center, center;
  position: absolute;
  height: 20vw;
  width: 20Vw;
  z-index: 20;
}